# {{ ansible_managed }}
# Prometheus configuration

global:
  scrape_interval:        15s
  evaluation_interval:    15s
  scrape_timeout:         10s

  external_labels:
      monitor: "prometheus"

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager:9093

rule_files:
  - "rules/*.rules.yaml"

scrape_configs:
  # Scrape prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
{% for item in prometheus_jobs %}
  - job_name: {{ item.name }}
    scrape_interval: {{ item.scrape_interval | default("15s") }}
    scrape_timeout: {{ item.scrape_timeout | default("10s") }}
    metrics_path: {{ item.metrics_path | default("/metrics") }}
    static_configs:
{{ item.static_configs | to_yaml | indent(6, true) }}
{% if "params" in item %}
    params:
{{ item.params | to_yaml | indent(6, true) }}
{% endif %}
{% if "relabel_configs" in item %}
    relabel_configs:
{{ item.relabel_configs | to_yaml | indent(6, true) }}
{% endif %}
{% endfor %}

  - job_name: nodes
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    static_configs:
{% for host in groups["nodes"] %}
      - targets: ["{{ hostvars[host].ip_management }}:9100"]
        labels:
          host: "{{ host }}"
{% endfor %}
