# {{ ansible_managed }}
# Prometheus configuration

global:
  scrape_interval:        15s
  evaluation_interval:    15s
  scrape_timeout:         10s

  external_labels:
      monitor: "prometheus"

scrape_configs:
  # Scrape prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
{% for item in prometheus_jobs %}
  - job_name: {{ item.name }}
    scrape_interval: {{ item.scrape_interval | default("15s") }}
    scrape_timeout: {{ item.scrape_timeout | default("10s") }}
    metrics_path: {{ item.metrics_path | default("/metrics") }}
    static_configs:
{{ item.static_configs | to_yaml | indent(6, true) }}
{% endfor %}
