# {{ ansible_managed }}
[Unit]
Description=nummus web server
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ admin }}
Environment="PROMETHEUS_MULTIPROC_DIR=/tmp/nummus"
ExecStartPre=-/bin/bash -c "rm /tmp/nummus/*"
ExecStart=/home/{{ admin }}/venv-nummus/bin/nummus --pass-file /home/{{ admin }}/.nummus.secret web --host {{ ip_nummus }} --production

[Install]
WantedBy=multi-user.target
