# {{ ansible_managed }}
[Unit]
Description=nummus web server
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ admin }}
ExecStart=/home/{{ admin }}/venv-nummus/bin/nummus --pass-file /home/{{ admin }}/.nummus.secret web --host {{ ip_nummus }}

[Install]
WantedBy=multi-user.target
